#landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25%;
}

p {
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

#register-link {
  align-self: center;
}