#log-nav {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  justify-content: space-evenly;
  border-top: solid 1px;
}

#log-nav .tablinks {
  text-align: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  cursor: pointer;
  width: 33.3333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#center-tab {
  border-left: 1px solid;
  border-right: 1px solid;
}

@media screen and (min-width: 768px) {
  
}