#overview-data{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.data {
  border: 1px solid black;
  padding: 0px 5px;
  text-align: center;
  margin-right: 5px;
}