header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: black;
}

header > button{
  align-self: center;
}

header > a{
  margin: 2px;
  font-family: 'Barlow', sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

header > button {
  background-color: black;
  color: #ffffff;
  border: none;
  font-family: 'Barlow', sans-serif;
  cursor: pointer;
}