#landing-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CBDAE5;
}

#landing-page > p {
  text-align: center;
  padding: 0px 9%;
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
}

#landing-page > h1 {
  font-family: 'Barlow', sans-serif;
}

.error{
  color: red;
}

#landing-page > h3 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

#login-form {
  display: flex;
  flex-direction: column;
}

#login-form > button{
  align-self: center;
  margin-top: 10px;
}

#register-link {
  align-self: center;
}